body {
    font-family: 'Poppins', sans-serif;
}

.logo-nav {
    height: 60px;
    width: 60px;
}

.title-page {
    color: #414141;
    font-weight: bold;
    font-size: 75px;
}

.blue {
    background-color: #222B5A;
    color: white;
}

.orange {
    color: #eb4a2d;
}

h2 {
    font-weight: bold;
    font-size: 38px;
}

.h2bgwhite {
    color: #414141;
    font-weight: bold;
    font-size: 88px;
}



