{% extends 'myadmin/base.html' %}

{% block content %}
<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <!-- <span class="d-none d-lg-block">Ganti Kata Sandi</span> -->
                            </a>
                        </div><!-- End Logo -->

                        {% if messages %}
                        {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {%
                            else %} class="alert alert-success alert-dismissible fade show" {% endif %} role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% endif %}

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Ganti Kata Sandi</h5>
                                    <!-- <p class="text-center small">Masukan e-mail dan password untuk login</p> -->
                                </div>

                                <form method="post" class="row g-3 needs-validation">
                                    {% csrf_token %}

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Password Lama</label>
                                        <input type="password" name="old_password" class="form-control"
                                            id="yourPassword" required>
                                        <div class="invalid-feedback">Please enter your old password!</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourNewPassword" class="form-label">Password Baru</label>
                                        <input type="password" name="password" class="form-control" id="yourNewPassword"
                                            required>
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Login</button>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->
{% endblock %}

{% block js %}
{% endblock %}