{% extends 'myadmin/base.html' %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Jumbotron</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Jumbotron</a></li>
                <li class="breadcrumb-item active">Jumbotron Beranda</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Jumbotron Beranda</h5>

                <!-- Vertical Form -->
                <form class="row g-3" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="col-12">
                        <label for="inputNanme4" class="form-label">Judul</label>
                        <input type="text" class="form-control" id="inputNanme4" value="{{ jumbotron.judul }}"
                            name="judul" required>
                    </div>

                    <div class="col-12">
                        <label for="inputPassword" class="form-label">Deskripsi</label>
                        <textarea class="form-control" style="height: 200px" name="deskripsi"
                            required>{{ jumbotron.deskripsi }}</textarea>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-8">
                                <label for="formFile" class="form-label">Gambar</label>
                                <input class="form-control" type="file" id="formFile" name="foto">
                            </div>
                            {% if jumbotron.foto %}
                            <div class="col-lg-4 d-flex p-3 justify-content-center">
                                <img src="{{ jumbotron.foto.url }}" class="w-75 align-self-center shadow rounded">
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-2 d-grid">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
                <!-- Vertical Form -->

            </div>
        </div>
    </section>

</main>
{% endblock %}

{% block js %}
<script>
    var jumbotronBerandaNav = document.getElementById("jumbotronBerandaNav");
    jumbotronBerandaNav.classList.add("active");
</script>
{% endblock %}