{% extends 'myadmin/base.html' %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Karang Taruna</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Karang Taruna</a></li>
                <li class="breadcrumb-item active">Karang Taruna</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Karang Taruna</h5>

                <!-- Vertical Form -->
                <form class="row g-3" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="col-12">
                        <label for="inputNama" class="form-label">Nama</label>
                        <input type="text" class="form-control" id="inputNama" value="{{ karangtaruna.nama }}"
                            name="nama" required>
                    </div>

                    <div class="col-12">
                        <label for="inputAlamat" class="form-label">Alamat</label>
                        <textarea class="form-control" id="inputAlamat" style="height: 200px" name="alamat"
                            required>{{ karangtaruna.alamat }}</textarea>
                    </div>

                    <div class="col-12">
                        <label for="inputLokasi" class="form-label">Lokasi</label>
                        <textarea class="form-control" style="height: 200px" name="lokasi"
                            required>{{ karangtaruna.lokasi }}</textarea>
                    </div>

                    <div class="col-12">
                        <label for="inputTelepon" class="form-label">Telepon</label>
                        <input type="number" class="form-control" id="inputTelepon" value="{{ karangtaruna.telepon }}"
                            name="telepon" required>
                    </div>

                    <div class="col-12">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail" value="{{ karangtaruna.email }}"
                            name="email" required>
                    </div>

                    <div class="col-12">
                        <label for="inputFacebook" class="form-label">Facebook</label>
                        <input type="text" class="form-control" id="inputFacebook" value="{{ karangtaruna.facebook }}"
                            name="facebook" required>
                    </div>

                    <div class="col-12">
                        <label for="inputInstagram" class="form-label">Instagram</label>
                        <input type="text" class="form-control" id="inputInstagram" value="{{ karangtaruna.instagram }}"
                            name="instagram" required>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-8">
                                <label for="formFile" class="form-label">Logo</label>
                                <input class="form-control" type="file" id="formFile" name="logo">
                            </div>
                            {% if karangtaruna.logo %}
                            <div class="col-lg-4 d-flex p-3 justify-content-center">
                                <img src="{{ karangtaruna.logo.url }}" class="w-75 align-self-center shadow rounded">
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-2 d-grid">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
                <!-- Vertical Form -->

            </div>
        </div>
    </section>

</main>
{% endblock %}

{% block js %}
{% endblock %}