<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" data-bs-target="#jumbotrons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Jumbotron</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="jumbotrons-nav" class="nav-content" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'jumbotron_beranda' %}" id="jumbotronBerandaNav">
                        <i class="bi bi-circle"></i><span>Beranda</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'jumbotron_profile' %}" id="jumbotronProfileNav">
                        <i class="bi bi-circle"></i><span>Profile</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Jumbotrons Nav -->

        <li class="nav-item">
            <a class="nav-link" href="{% url 'karangtaruna' %}">
                <i class="bi bi-grid"></i>
                <span>Karang Taruna</span>
            </a>
        </li><!-- End Karang Taruna Nav -->

        <li class="nav-item">
            <a class="nav-link" href="{% url 'kependudukan' %}">
                <i class="bi bi-grid"></i>
                <span>Kependudukan</span>
            </a>
        </li><!-- End Kependudukan Nav -->


    </ul>

</aside>