{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Beranda</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/customhome.css' %}">
{% endblock %}


{% block content %}
<!-- Jumbotron -->
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="my-5">
                <h1 class="title-page">{{ karangtaruna.nama }}</h1>
            </div>
            <div>
                <p>{{ karangtaruna.deskripsi_halaman_utama }}</p>
            </div>
        </div>
        <div class="col-md vh-75 d-flex justify-content-center mx-3">
            <img src="{{ karangtaruna.logo.url }}" class="w-100 align-self-center">
        </div>
    </div>
</div>
<!-- End Jumbotron -->

<!-- Pengumuman & Agenda -->
<div class="container-fluid blue py-5 my-5">
    <h2 class="text-center">Pengumuman & Agenda</h2>

    <!-- Carousell -->
    <div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
        <div class="carousel-inner w-100">
            {% for pengumuman in pengumumans %}
            {% if forloop.first %}
            <div class="carousel-item active">
                <div class="card col-md-3 me-3">
                    <img src="{{ pengumuman.foto.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pengumuman.judul }}</h5>
                        <p class="card-text card-text-carousell">{{ pengumuman.deskripsi }}</p>
                        <a href="{% url 'detail_pengumuman' pengumuman.id %}"
                            class="btn btn-outline-dark">Selengkapnya</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="carousel-item">
                <div class="card col-md-3 me-3">
                    <img src="{{ pengumuman.foto.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pengumuman.judul }}</h5>
                        <p class="card-text card-text-carousell">{{ pengumuman.deskripsi }}</p>
                        <a href="{% url 'detail_pengumuman' pengumuman.id %}"
                            class="btn btn-outline-dark">Selengkapnya</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- End Carousell -->

    <div class="mt-5 text-center">
        <a href="{% url 'pengumuman' %}" class="btn btn-outline-light">Agenda lainnya</a>
    </div>

</div>
<!-- End Pengumuman & Agenda -->

<!-- Kependudukan -->
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="h2-bg_white">Data Kependudukan Desa Jlapan</h2>
            <p class="mt-5">{{ kependudukan.deskripsi }}</p>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div class="rounded shadow align-self-center m-3 w-75">
                <img src="{{ kependudukan.foto.url }}" class="w-100">
            </div>
        </div>
    </div>
</div>
<!-- End Kependudukan -->
{% endblock %}