{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Informasi & Pengumuman</title>
{% endblock %}

{% block css %}
<style>
    .image-overlay {
        color: white;
        background-color: #d10101;
        font-size: 14px;
        padding: 0.2rem 0.5rem;
    }

    .card-image-overlay {
        position: absolute;
        padding: 2rem 0;
    }

    .card-tile-pengumuman {
        font-size: 16px;
        font-weight: 600;
        color: #1e1e1e;
    }

    .form-control {
        border-color: black;
    }
</style>
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row g-5">

        <!-- Content -->
        <div class="col-auto col-xl-9">

            <!-- Search -->
            <div class="mb-5">
                <h4>Cari Berdasarkan Waktu</h4>
                <form action="{% url 'pengumuman' %}" method="get">
                    <div class="row">
                        <div class="col-auto">
                            <input class="form-control border-danger" type="date" name="dari" required>
                        </div>
                        <div class="col-auto">
                            <input class="form-control border-danger" type="date" name="sampai" required>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-danger" type="submit">Cari</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Search -->

            <div class="row g-3">
                {% for pengumuman in pengumumans %}
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow-sm">
                        <img src="{{ pengumuman.foto.url }}" class="card-img-top"
                            style="height: 200px; object-fit: cover;" alt="...">
                        <div class="card-image-overlay">
                            <div class="image-overlay">
                                {{ pengumuman.tanggal|date:"d M Y"}}
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-tile-pengumuman">{{ pengumuman.judul }}</p>
                            <a href="{% url 'detail_pengumuman' pengumuman.id %}" class="btn btn-outline-danger btn-sm">
                                Selengkapnya
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- End Content -->

        <!-- Side bar -->
        <div class="col-auto col-xl-3">
            <!-- Search -->
            <h4>Cari Pengumuman</h4>
            <form action="{% url 'pengumuman' %}" method="get">
                <div class="row">
                    <div class="col">
                        <input class="form-control border-danger text-danger" type="search" name="cari"
                            placeholder="Cari">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger" type="submit">Cari</button>
                    </div>
                </div>
            </form>
            <!-- End Search -->

            <!-- Terbaru -->
            <h4 class="mt-5">Terbaru</h4>
            <div class="row g-3">
                {% for pengumuman in pengumuman_terbaru %}
                <div class="col-12">
                    <a href="{% url 'detail_pengumuman' pengumuman.id %}"
                        class="link-underline link-underline-opacity-0">
                        <div class="card shadow-sm">
                            <div class="row">
                                {% if pengumuman.foto %}
                                <div class="col-4">
                                    <img src="{{ pengumuman.foto.url }}" class="w-100 h-100 rounded-start"
                                        style="object-fit: cover; max-height: 100px;" alt="...">
                                </div>
                                {% endif %}
                                <div class="col-8 ps-1 pt-2 pe-3">
                                    <p class="card-side">{{ pengumuman.judul }}</p>
                                    <p>
                                        <small class="text-muted">
                                            {{ pengumuman.tanggal|date:"d M Y"}}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <!-- End Terbaru -->
        </div>
        <!-- End Side bar -->

    </div>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var navLinkHome = document.getElementById("navLinkPengumuman");
        navLinkHome.classList.add("active");
    });
</script>
{% endblock %}