{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Profil</title>
{% endblock %}

{% block css %}
<style>
    .title-profile {
        color: #414141;
    }

    .text-visi-misi {
        color: #1e1e1e;
        font: 600 18px/30px Poppins, sans-serif;
    }

    .profile-title {
        font-size: 58px;
    }
</style>
{% endblock %}

{% block content %}
<!-- Header -->
<div class="container-fluid bg-blue-fg-white py-5">
    <div class="container">
        <h1 class="title-page text-light profile-title">Profil Karang Taruna</h1>
    </div>
</div>
<!-- End Header -->

<!-- Jumbotron -->
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 p-3">
            <h2 class="mb-3 h2-bg-white title-profile">{{ jumbotron.judul }}</h2>
            <p>{{ jumbotron.deskripsi }}</p>
        </div>
        {% if jumbotron.foto %}
        <div class="col-md-6 d-flex justify-content-center p-3">
            <img src="{{ jumbotron.foto.url }}" class="w-75 align-self-center">
        </div>
        {% endif %}
    </div>
</div>
<!-- End Jumbotron -->

<!-- Visi Misi -->
<div class="container-fluid bg-blue-fg-white py-5">
    <div class="row g-3">
        <div class="col-lg-4">
            <div class="card p-3">
                <h2 class="red text-center my-3">Visi</h2>
                <p class="text-visi-misi">{{ karangtaruna.visi }}</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card p-3">
                <h2 class="red text-center my-3">Misi</h2>
                <p class="text-visi-misi">{{ karangtaruna.misi }}</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card p-3">
                <h2 class="red text-center my-3">Moto</h2>
                <p class="text-visi-misi">{{ karangtaruna.motto }}</p>
            </div>
        </div>
    </div>
</div>
<!-- End Visi Misi  -->

<!-- Regulasi & Program Kerja -->
<div class="container-fluid">
    <div class="row g-3 py-5">
        <div class="col-lg-6">
            <div class="card p-3 shadow-sm">
                <h2 class="text-center my-3 red">Regulasi</h2>
                <p class="text-visi-misi">{{ karangtaruna.regulasi }}</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card p-3 shadow-sm">
                <h2 class="text-center my-3 red">Program Kerja</h2>
                <p class="text-visi-misi">{{ karangtaruna.program_kerja }}</p>
            </div>
        </div>
    </div>
</div>
<!-- End Regulasi & Program Kerja -->

<!-- Pimpinan Karang Taruna -->
<div class="container-fluid bg-blue-fg-white py-5">
    <h2 class="text-center mb-5">Pimpinan Karang Taruna</h2>

    <div class="container">
        <div class="row d-flex justify-content-center g-3">
            {% for pimpinan in pimpinans %}
            <div class="col-sm-5 col-md-4 col-lg-3">
                <div class="card">
                    <img src="{{ pimpinan.foto.url }}" class="card-img-top" style="object-fit: cover; height: 200px;"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ pimpinan.nama }}</h5>
                        <p class="card-text card-text-carousell">{{ pimpinan.jabatan }}</p>
                        <a href="https://wa.me/{{ pimpinan.telepon }}" class="btn btn-outline-dark btn-sm">
                            <i class="fa-brands fa-whatsapp"></i>
                            {{ pimpinan.telepon }}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Carousell -->
    <!-- <div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
        <div class="carousel-inner w-100">
            {% for pimpinan in pimpinans %}
            {% if forloop.first %}
            <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                    {% endif %}
                    <div class="card col-md-4 me-3">
                        <img src="{{ pimpinan.foto.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ pimpinan.nama }}</h5>
                            <p class="card-text card-text-carousell">{{ pimpinan.jabatan }}</p>
                            <a href="https://wa.me/{{ pimpinan.telepon }}" class="btn btn-outline-dark">
                                <i class="fa-brands fa-whatsapp"></i>
                                {{ pimpinan.telepon }}
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div> -->
    <!-- End Carousell -->
</div>
<!-- End Pimpinan Karang Taruna -->

<!-- Divisi Karang Taruna -->
<div class="container-fluid py-3">
    <h2 class="text-center my-5">Divisi Karang Taruna</h2>
    {% for divisi in divisis %}
    <div class="card mb-5">
        <div class="mb-3 p-3">
            <div class="row">
                <div class="col-md-3">
                    <div class="card p-3 shadow-sm mb-3">
                        <h2 class="red">{{ divisi.nama }}</h2>
                        <p class="text-visi-misi">{{ divisi.deskripsi }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        {% for anggota in divisi.anggota_set.all %}
                        <div class="col-sm-5 col-md-4 col-lg-3 mb-2">
                            <div class="card shadow-sm">
                                <img src="{{ anggota.foto.url }}" class="card-img-top"
                                    style="object-fit: cover; height: 200px;" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ anggota.nama }}</h5>
                                    <p class="card-text card-text-carousell">{{ anggota.jabatan }}</p>
                                    <a href="https://wa.me/{{ anggota.telepon }}" class="btn btn-outline-dark btn-sm">
                                        <i class="fa-brands fa-whatsapp"></i>
                                        {{ anggota.telepon }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- End Divisi -->
{% endblock %}


{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var navLinkHome = document.getElementById("navLinkProfile");
        navLinkHome.classList.add("active");
    });
</script>
{% endblock %}